entrypoint = "main.py"
modules = ["python-3.11", "postgresql-16"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["sh", "-c", "python main.py"]
deploymentTarget = "cloudrun"
build = ["sh", "-c", "pip install -r requirements.txt"]

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 3001

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 32805

[[ports]]
localPort = 32809
externalPort = 5173

[[ports]]
localPort = 32929
externalPort = 3002

[[ports]]
localPort = 34337
externalPort = 3000

[[ports]]
localPort = 34767

[[ports]]
localPort = 35749

[[ports]]
localPort = 36055
externalPort = 4200
exposeLocalhost = true

[[ports]]
localPort = 37367

[[ports]]
localPort = 38387
externalPort = 8008

[[ports]]
localPort = 39445
externalPort = 8000

[[ports]]
localPort = 44299

[[ports]]
localPort = 44357

[[ports]]
localPort = 44839
externalPort = 3003

[[ports]]
localPort = 45795
externalPort = 8080

[[ports]]
localPort = 45843

[[ports]]
localPort = 45925
externalPort = 6000

[[ports]]
localPort = 46463
externalPort = 6800

[[ports]]
localPort = 46683
externalPort = 3001

[env]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 17724980
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "kill -9 $(lsof -t -i:3000) 2>/dev/null || true"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python app.py"
